# Feature Engineering

In [2]:
import pandas as pd

In [3]:
sem1 = pd.read_csv('BMS_sem1_process.csv')
sem2 = pd.read_csv('BMS_sem1_process.csv')
merged = pd.merge(sem1, sem2, on='StudentId', suffixes=('_sem1', '_sem2'))
merged

,StudentId,INT_BMSBC103_sem1,EXT_BMSBC103_sem1,INT_BMSBL107_sem1,EXT_BMSBL107_sem1,INT_BMSBS106_sem1,EXT_BMSBS106_sem1,INT_BMSECO102_sem1,EXT_BMSECO102_sem1,INT_BMSFA105_sem1,...,EXT_BMSFC104_sem2,INT_BMSFHS101_sem2,EXT_BMSFHS101_sem2,Remark_sem2,Grade_sem2,TotalMarksObtained_sem2,TotalMarks_sem2,CreditsEarned_sem2,Percentage_sem2,SGPA_sem2
0,3735942,35,55,31,48,34,51,34,46,38,...,51,39,55,PASS,O,607,700,20,86.71,10.00
1,3735958,0,0,2,0,0,0,12,0,6,...,0,0,0,FAIL,F,20,700,0,2.86,0.00
2,3735997,23,28,18,15,11,30,16,22,20,...,26,24,22,FAIL,F,292,700,6,41.71,1.65
3,3736013,0,47,4,40,0,33,8,34,9,...,52,12,49,FAIL,F,328,700,0,46.86,0.00
4,3736069,35,45,28,41,31,39,27,35,35,...,38,34,41,PASS,A+,506,700,20,72.29,9.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
137,3736047,35,49,31,52,19,51,35,36,38,...,48,33,52,PASS,A+,557,700,20,79.57,9.70
138,3736051,39,44,33,46,38,45,35,41,36,...,42,37,47,PASS,A+,568,700,20,81.14,9.75
139,3736052,37,51,35,47,36,42,38,48,38,...,46,33,49,PASS,O,590,700,20,84.29,10.00
140,3736074,37,46,23,37,31,52,29,53,32,...,38,35,40,PASS,A+,539,700,20,77.00,9.45
141,3736003,37,47,35,41,37,42,35,35,35,...,44,34,44,PASS,A+,544,700,20,77.71,9.45

## Feature Extraction

In [ ]:
# 1. Total Marks per Subject in Sem1
subjects_sem1 = ['BMSBC103', 'BMSBL107', 'BMSBS106', 'BMSECO102', 'BMSFA105', 'BMSFC104', 'BMSFHS101']
for subj in subjects_sem1:
    merged[f'Total_{subj}_sem1'] = merged[f'INT_{subj}_sem1'] + merged[f'EXT_{subj}_sem1']

In [ ]:
# 2. Failure Flag for Sem1
merged['Failed_any_sem1'] = merged['Remark_sem1'].apply(lambda x: 1 if x == 'FAIL' else 0)

In [ ]:
# 3. Aggregate Features
features = [
    'SGPA_sem1', 'Percentage_sem1', 'Failed_any_sem1',
    'Total_BMSBC103_sem1', 'Total_BMSBL107_sem1', 'Total_BMSBS106_sem1',
    'Total_BMSECO102_sem1', 'Total_BMSFA105_sem1', 'Total_BMSFC104_sem1',
    'Total_BMSFHS101_sem1'
]

,StudentId,INT_BMSBC103,EXT_BMSBC103,INT_BMSBL107,EXT_BMSBL107,INT_BMSBS106,EXT_BMSBS106,INT_BMSECO102,EXT_BMSECO102,INT_BMSFA105,...,EXT_BMSFC104,INT_BMSFHS101,EXT_BMSFHS101,Remark,Grade,TotalMarksObtained,TotalMarks,CreditsEarned,Percentage,SGPA
0,3735942,35,55,31,48,34,51,34,46,38,...,51,39,55,PASS,O,607,700,20,86.71,10.00
1,3735958,0,0,2,0,0,0,12,0,6,...,0,0,0,FAIL,F,20,700,0,2.86,0.00
2,3735997,23,28,18,15,11,30,16,22,20,...,26,24,22,FAIL,F,292,700,6,41.71,1.65
3,3736013,0,47,4,40,0,33,8,34,9,...,52,12,49,FAIL,F,328,700,0,46.86,0.00
4,3736069,35,45,28,41,31,39,27,35,35,...,38,34,41,PASS,A+,506,700,20,72.29,9.00