In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('BMS_sem1_process.csv')
df.head()

,StudentId,INT_BMSBC103,EXT_BMSBC103,INT_BMSBL107,EXT_BMSBL107,INT_BMSBS106,EXT_BMSBS106,INT_BMSECO102,EXT_BMSECO102,INT_BMSFA105,...,EXT_BMSFC104,INT_BMSFHS101,EXT_BMSFHS101,Remark,Grade,TotalMarksObtained,TotalMarks,CreditsEarned,Percentage,SGPA
0,3735942,35,55,31,48,34,51,34,46,38,...,51,39,55,PASS,O,607,700,20,86.71,10.00
1,3735958,0,0,2,0,0,0,12,0,6,...,0,0,0,FAIL,F,20,700,0,2.86,0.00
2,3735997,23,28,18,15,11,30,16,22,20,...,26,24,22,FAIL,F,292,700,6,41.71,1.65
3,3736013,0,47,4,40,0,33,8,34,9,...,52,12,49,FAIL,F,328,700,0,46.86,0.00
4,3736069,35,45,28,41,31,39,27,35,35,...,38,34,41,PASS,A+,506,700,20,72.29,9.00